* {
    .image-wrap {
      width:100%;
      text-align: center;
      >img {
        width: 80%;
        margin: 0 auto;
      }
    }
    .sign-up-text {
      text-decoration: underline;
      text-align: center;
    }
  }