<!-- 
<h2>app.component.html</h2>
<h2>{{title}}</h2>
<p>tesasdt works!</p>
<button (click)="appButton()">asd</button>
<p style="border: 2vh black solid;">{{greeting}}</p>
<input type="text" style ="color: blueviolet;"[(ngModel)]="greeting">

<p *ngIf="greeting;">this paragraph is true and not null</p>
<ng-template #name></ng-template>

<ng-container *ngIf="greeting; else elseTemplate">
  <p style="color:blue">this paragraph is true and not null</p>
</ng-container>
<ng-template #elseTemplate>
  <p style="color:red">this paragraph is null</p>
</ng-template>

<ul>
  <li *ngFor="let hero of heroes"><input value="{{hero}}"></li>
</ul>

1
<courses></courses>
2
<courses></courses> -->

<!-- {{ 'setsetsetset' | slice}}
<br>
<button (click)="onClick()" [disabled]="isSelected">asd</button> -->

<darth></darth>